.options-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  border-radius: var(--radius);
  background-color: var(--lighter-bg-color);

  .options-field_props {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    padding: 30px;

    &.-hidden {
      display: none;
    }
  }

  .options-field_prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 45px;
  }

  [class^='_switchField__flex'] {
    flex-grow: 1;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  [class^='_FieldGroup__item'] {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
  }

  [class^='css-'][class$='-container'],
  [class^='_TextInput'] {
    width: clamp(200px, 70%, 400px) !important;
  }

  [class^='_formLabel_'],
  [class*='_switchField__label'] {
    flex-grow: 1 !important;
    margin-block-end: 0 !important;
    color: rgba(0, 0, 0, 0.87);
  }

  [class^='_fieldHint_1avon_'],
  [class^='_switchField__below'] {
    display: none;
    margin-inline-start: 0;
    width: 100%;
  }

  .options-field_presets {
    display: flex;
    flex-wrap: nowrap;
    background: white;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */

    &::-webkit-scrollbar {
      display: none; /* Older Safari and Chromium */
    }
  }

  .options-field_preset {
    flex-grow: 0;
    flex-shrink: 0;
    scale: 0.9;
    opacity: 0.5;
    transition: all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer;
    background: #f5f5f5;
    aspect-ratio: var(--options-preset-preview-aspect-ratio);
    height: calc(var(--options-preset-preview-height, 200) * 1px);
    overflow: hidden;

    &:hover {
      scale: 1;
      opacity: 1;
    }

    &.-active {
      scale: 1;
      opacity: 1;
      /* border: 4px solid red; */
    }
  }

  .options-field_preset-preview {
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .options-field_preset-label {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 12px;
  }
}
