.options-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  border-radius: var(--radius);

  .options-field_props {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    padding: var(--spacing-l);

    &.-hidden {
      display: none;
    }
  }
  .options-field_presets + .options-field_props {
    padding-block-start: 0;
  }

  .options-field_prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 40px;
  }

  [class^='_switchField__flex'] {
    flex-grow: 1;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  [class^='_FieldGroup__item'] {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
  }

  [class^='css-'][class$='-container'],
  [class^='_TextInput'] {
    width: clamp(200px, 70%, 400px) !important;
  }

  [class^='_formLabel_'],
  [class*='_switchField__label'] {
    flex-grow: 1 !important;
    margin-block-end: 0 !important;
    color: rgba(0, 0, 0, 0.87);
    font-size: var(--font-size-s);
  }

  [class^='_fieldHint_1avon_'],
  [class^='_switchField__below'] {
    display: none;
    margin-inline-start: 0;
    width: 100%;
  }

  .options-field_presets {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing-s);
    background: white;
    padding: var(--spacing-l);
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */

    &::-webkit-scrollbar {
      display: none; /* Older Safari and Chromium */
    }
  }

  .options-field_preset {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer;
    outline: 0px solid var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: var(--spacing-s);
    overflow: hidden;

    &:hover {
      outline: 3px solid var(--border-color);
    }

    &.-active {
      opacity: 1;
      outline: 1px solid black;
      /* border: 4px solid red; */
    }
  }

  .options-field_preset-preview {
    aspect-ratio: var(--options-preset-preview-aspect-ratio);
    height: calc(var(--options-preset-preview-height, 200) * 1px);

    img,
    video,
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .options-field_preset-label {
    padding: var(--spacing-s) 0 0 0;
    width: 100%;
    overflow: hidden;
    font-size: var(--font-size-xs);
    text-align: center;
    text-overflow: ellipsis;
  }
}
